<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-12">
      <h3>Add your contacts</h3>
    </div>
  </div>

  <% if flash[:success] %>
    <%= render :partial => "success", :locals => {:success_msg => flash[:success]} %>
  <% end %>
  <% if flash[:error] %>
    <%= render :partial => "error", :locals => {:error_msg => flash[:error]} %>
  <% end %>
  <%= bootstrap_form_for(@contact) do |f| %>
    <div class="row-fluid">
      <div class="col-md-2"><%= f.text_field   :first_name, :placeholder => "Enter First name"%></div>
      <div class="col-md-2"><%= f.text_field   :last_name, :placeholder => "Enter Last name"%></div>
      <div class="col-md-2"><%= f.text_field   :phone_number, :placeholder => "(xxx) xxx-xxxx"%></div>
      <div class="col-md-2"><%= f.text_field   :address, :class=>"col-xs-4", :placeholder => "Enter Address"%></div>
    </div>
    <div class="row-fluid">
      <div class="col-md-12">
        <%= f.submit "Save", class: "btn btn-primary" %>
        <%=button_tag "Clear", :class=>"btn clear_contact" %>
      </div>
    </div>
  <% end %>
</div>
