<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-12">
      <h1>Add your contacts</h1>
    </div>
  </div>

  <% if flash[:success] %>
  <div class="row-fluid">
    <div class="col-md-12">
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <%= flash[:success] %> 
      </div>
    </div>
  </div>
  <% end %>
  <%= bootstrap_form_for(@contact) do |f| %>
    <div class="row-fluid">
      <div class="col-md-2"><%= f.text_field   :first_name%></div>
      <div class="col-md-2"><%= f.text_field   :last_name%></div>
      <div class="col-md-2"><%= f.text_field   :phone_number%></div>
      <div class="col-md-2"><%= f.text_area    :address%></div>
    </div>
    <div class="row-fluid">
      <div class="col-md-12">
        <%= f.submit "Save", class: "btn btn-primary" %>
        <%=button_tag "Clear", :class=>"btn clear_contact" %>
      </div>
    </div>
  <% end %>
</div>
